.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 43px 30px;
  justify-items: center;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 540px) {
    grid-template-columns: 1fr;
    gap: 36px;
  }
}

.card-list__item {
  width: 100%;
  display: flex;
  justify-content: center;
}
