.filter {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.filter__brand {
  height: 25px;
}

.filter__block {
  display: flex;
  gap: 10px;
}

.filter__price-input {
  height: 25px;
  box-sizing: border-box;
  width: 60px;
}

.filter__price-input::-webkit-outer-spin-button,
.filter__price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter__price-input[type='number'] {
  -moz-appearance: textfield;
}

.filter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background-color: var(--bg-buttons);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  height: 25px;
  box-sizing: border-box;
}

.filter__button:hover {
  background-color: var(--bg-buttons-hover);
}
